@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(14 165 233);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: rgb(14 165 233);
}

.header-section button:nth-child(4) {
  padding: 0.25rem;
}

.fileInput div input:focus {
  border: 2px solid rgb(14 165 233);
}

/* Tables custom styles */

.table-head tr th {
  background-color: rgb(209 213 219);
}

/* Quill Editor custom styles */

.ql-toolbar,
.ql-container {
  background-color: rgb(249 250 251);
}

.dark .ql-toolbar,
.dark .ql-container {
  color: #000;
}

.ql-toolbar {
  border-radius: 0.5rem 0.5rem 0 0;
}

.dark .ql-toolbar {
  background-color: rgb(55 65 81);
}

.ql-container {
  min-height: 15rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.dark .ql-container {
  background-color: rgb(55 65 81);
  color: rgb(255 255 255);
}

.dark .ql-toolbar .ql-fill {
  fill: rgb(255 255 255);
  stroke: none;
}

.dark .ql-toolbar .ql-stroke {
  fill: none;
  stroke: rgb(255 255 255);
}

.dark .ql-toolbar .ql-picker {
  color: rgb(255 255 255);
}

.ql-editor a {
  color: rgb(14 165 233);
}

.dark .ql-editor.ql-blank::before {
  color: rgb(204, 204, 204);
}

.ql-toolbar .ql-picker .ql-picker-item:hover {
  color: rgb(14 165 233);
}

.ql-picker-label {
  border-radius: 0.25rem 0.25rem 0 0;
}

.ql-picker-label::before {
  color: #444;
}

.dark .ql-picker-label::before {
  color: rgb(255 255 255);
}

.ql-picker-label:hover::before {
  color: rgb(14 165 233);
}

.dark .ql-toolbar .ql-picker .ql-picker-item:hover {
  color: rgb(14 165 233);
}

.ql-selected::before {
  color: #444;
}

.dark .ql-selected::before {
  color: rgb(204, 204, 204);
}

.ql-selected:hover::before {
  color: rgb(14 165 233);
}

.ql-picker-options {
  border-radius: 0 0.25rem 0.25rem 0.25rem;
}

.dark .ql-picker-options {
  background-color: rgb(55 65 81);
  color: rgb(204, 204, 204);
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: rgb(14 165 233) !important;
  stroke: none;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: rgb(14 165 233) !important;
}

.ql-active .ql-fill {
  fill: rgb(14 165 233) !important;
  stroke: none;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: #444 !important;
}

.dark .ql-active .ql-stroke {
  fill: none;
  stroke: rgb(255 255 255) !important;
}
